body {
    width: 600px;
    margin: 2em auto;
    font-size: 19px;
}

a {
    color: #61AE24;
}

a:hover, span#str, span#kwd {
    color: #2E7B00;
}

a:hover {
    text-decoration: none;
}

pre {
    font-family: 'Consolas', Monaco, monospace;
    font-size: 15px;
    background-color: #F0F0F0;
    padding: 10px;
}

p {
    font-family: 'Roboto';
    font-weight: 300;
}

#tagline {
    font-family: "Gloria Hallelujah";
    font-size: 20px;
}

.text-center {
    text-align: center;
}

#banner {
    margin: 0px auto;
    display: block;
}
